<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
    <a href="/">home</a>
    <form action="/forgotpasswd" method="post" class="form">
        <a href="/login">login</a>
          <h1>Forgot Password</h1>
          <label for="email">Enter your registerd email address</label><br>
          <br><input type="email" id="email" name="email" placeholder="Email Address*" required/>
          <input type="submit" value="RESET PASSWORD" />
    </form>
</body>
</html>