<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
    <br>
    <a href="/">home</a>
    
        
        <form action="/login" method="post" class="form" onsubmit="return validation()">
            <a href="/registration">signup</a> 
            <h1>login</h1>
            <label for="name">Email</label><br><br>
            <input class="input" id="email" name="email" type="text" placeholder="Enter email" /><span id="useremail" class="validation"></span><br>
           <label for="password" >Password</label><br><br>
           <input class="input" type="password" name="password" id="password" password="password" placeholder="Enter password" autocomplete="off"/><span id="userpass" class="validation"></span><br>
           <input type="submit" value="login"/><br><br>
           <a href="/forgotpasswd">Forgot Password?</a>
        </form>
        <script src="js/login.js"></script>
</body>
</html>