
    <header>
    <nav>
        <div >
        <ul >
            
            <% if(username==null) {%>
                <h1 style="color: purple; padding-top: 15px;"><b>MyShop</b></h1>
                <p><li><a href="/">home </a></li></p>
                <p><li><a href="/registration"> signup</a></li></p>
                <p><li><a href="/login"> Login</a></li></p>
                <% } else { %>
                    <h1 style="color: purple; padding-top: 15px;"><b>MyShop</b></h1>
                    <li><a href="/">Home </a></li>
                    <li><a href="/myorder">My Order </a></li>
                    <% if(role=="admin") {%>
                        <li><a href="/homeadmin">Admin</a></li>
                        <li><a href="/productsReq">Product Req</a></li>
                    <% } %>
                    <% if(role=="saller" && flag=="true") {%>
                    <li><a href="/homeadmin">Admin</a></li>
                    <li><a href="/admin">Add product</a></li>
                    <li><a href="/updateproduct">updateproduct</a></li>
                    <% } %>
                    <li><a href="/changepasswd">Change Password</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <p style="padding-top: 25px;">Logged in as <%= username %></p>
                    <!-- <li style="float: right;"><i class="fa-solid fa-cart-shopping"></i></li> -->
                <%}%>
        </ul>
    </div>
    </nav>
        
    </header>