.viewMain{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
   
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.view{
    text-align: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 90%;
    margin: 10px;
    padding: 10px;
}
.view:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.1);
}
.processis{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px;
    padding: 30px;
}
.cls{
    margin: 10px;
}